#error {
    grid-column: auto;
    border: 1px solid white;
    border-radius: 6rem;
    height: min-content;
    width: 80dvw;

    &__container {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	height: 100%;
	width: 100%;
	h2 {
	    font-size: 8dvw;
	    font-weight: bolder;
	    color: red;
	}
	h3 {
	    font-size: 2dvw;
	    font-weight: bold;
	    color: orange
	}
    }
}
