#landing {
    display: grid;
    gap: 7dmin;
    grid-template-areas:
	"empty header"
	"title"
	"dropdown"
	"cards";

    &__selectors {
	border: 1px solid hsl(265, 80%, 50%);
	border-radius: 5px;
	background-color: hsl(165, 100%, 50%);
	display: flex;
	gap: 1dmin;
	padding: 1dmin;
    }

    &__container {
	display: grid;
	gap: 1dmin;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

	&__card {
	    height: 6rem;
	    width: 4rem;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    background-color: hsl(25, 40%, 40%);
	    border-radius: 5px;
	    box-shadow: 0 0 5px hsl(0, 0%, 0%);
	    color: hsl(25, 40%, 90%);
	    font-size: 1.5rem;
	    font-weight: 700;
	    text-align: center;
	    transition: all 0.3s ease-in-out;
	    cursor: pointer;
	    &:hover {
		background-color: hsl(25, 40%, 50%);
		box-shadow: 0 0 10px hsl(0, 0%, 0%);
		transform: scale(1.05);
	    }
	    &:active {
		background-color: hsl(25, 40%, 60%);
		box-shadow: 0 0 5px hsl(0, 0%, 0%);
		transform: scale(0.95);
	    }
	}
    }
}
