#landing {
    grid-column: 2 / span 3;
    grid-row: 2 / span 3;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(4rem, 100%), 1fr));
    grid-template-rows: 1fr 1fr 4fr;
    h2 {
	grid-column: 2 / 3;
	grid-row: 1 /  2;
	text-align: center;
    }
    &__selectors {
	align-self: center;
	justify-self: center;
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	border: 1px solid hsl(265, 80%, 50%);
	border-radius: 5px;
	background-color: hsl(165, 100%, 50%);
	
	// display: flex;
	// justify-content: center;
	// align-items: center;
	// gap: 1dmin;
	padding: 1dmin;
	width: 400px;

	select {
	    font-size: xx-large;
	    font-weight: bolder;    
	}
    }

    &__container {
	grid-column: 1 / 4;
	grid-row: 3 / span 2;
	display: grid;
	gap: 6dvw;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	height: 12rem;

	.card {
	    h3 {
		font-size: xx-large;
		font-weight: bolder;
	    }
	    display: flex;
	    flex-direction: column;
	    justify-content: center;
	    align-items: center;
	    background-color: hsl(25, 40%, 40%);
	    border-radius: 2.3dvw;
	    box-shadow: 0 0 5px hsl(0, 0%, 100%);
	    color: hsl(25, 40%, 90%);
	    font-size: 1.5dvb;
	    font-weight: 700;
	    text-align: center;
	    transition: all 0.3s ease-in-out;
	    cursor: pointer;

	    p {
		margin: 0 3dvw;
		font-size: large;
		padding-bottom: 6px;
	    }

	    &:hover {
		background-color: hsl(25, 40%, 50%);
		box-shadow: 0 0 10px hsl(0, 0%, 0%);
		transform: scale(1.05);
	    }
	    &:active {
		background-color: hsl(25, 40%, 60%);
		box-shadow: 0 0 5px hsl(0, 0%, 0%);
		transform: scale(0.95);
	    }
	}
    }
}
