{% extends "base.html" %} {% block title %} {{ title }} {{ version  }} {% endblock %} {% block head %} {% endblock %} {% block individual_page_contents %}

<div id="landing">
  <h1>Get to know your mDns</h1>
  <section id="landing__container">
    {% for opt in 0..scan_types.len() %}
    <div
      class="card"
      hx-get="/scan_tech/{{scan_types[opt]}}"
      hx-swap="innerHTML"
      >
      <h3>{{ scan_types[opt] }}</h3>
      <p>mDNS is a protocol that allows devices to discover each other on a local network without the need for a central DNS server. It uses multicast DNS (mDNS) to resolve hostnames to IP addresses and service discovery to find services on the network.</p>
    </div>
    {% endfor %}
  </section>
</div>
{% call super() %} {% endblock %}
