{% extends "base.html" %} {% block title %} {{ title }} {{ version  }} {% endblock %} {% block head %} {% endblock %} {% block individual_page_contents %}

<div id="landing">
  <h2>Get to know your mDns</h2>
  <aside id="landing__selectors">
    <select>
      <option selected disabled>SCAN TYPE</option>
      {% for opt in scan_types %}
      <option value="{{ opt }}">{{ opt }}</option>
      {% endfor %}
    </select>
    <select>
      <option selected disabled>SCAN TIME</option>
      {% for num in 0..scan_types.len() %}
      <option value="{{ num }}">{{ num }}</option>
      {% endfor %}
    </select>
  </aside>
  <section id="landing__container">
    {% for opt in 0..scan_types.len() %}
    <div class="card">
      <h3>{{ scan_types[opt] }}</h3>
      <p>mDNS is a protocol that allows devices to discover each other on a local network without the need for a central DNS server. It uses multicast DNS (mDNS) to resolve hostnames to IP addresses and service discovery to find services on the network.</p>
    </div>
    {% endfor %}
  </section>
</div>
{% call super() %} {% endblock %}
